In [1]:
!nvidia-smi  # GPU VRAM (e.g., ~16 GB on T4)

Wed Nov 12 01:41:10 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.54.15              Driver Version: 550.54.15      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA A100-SXM4-80GB          Off |   00000000:00:05.0 Off |                    0 |
| N/A   33C    P0             54W /  400W |       0MiB /  81920MiB |      0%      Default |
|                                         |                        |             Disabled |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|  No running processes found                                                             |
+-----------------------------------------------------------------------------------------+

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
csv_path = "/content/drive/MyDrive/BIG DATA/battles.csv"
parquet_path = "/content/drive/MyDrive/BIG DATA/battles.parquet"

In [4]:
import cudf

gdf = cudf.read_csv(csv_path)
print(len(gdf), "rows")
gdf.head()

16795959 rows

,Unnamed: 0,battleTime,arena.id,gameMode.id,average.startingTrophies,winner.tag,winner.startingTrophies,winner.trophyChange,winner.crowns,winner.kingTowerHitPoints,...,loser.cards.list,loser.totalcard.level,loser.troop.count,loser.structure.count,loser.spell.count,loser.common.count,loser.rare.count,loser.epic.count,loser.legendary.count,loser.elixir.average
0,0,2020-12-07 07:00:00+00:00,54000049.0,72000201.0,6590.0,#28RR8PJP0,6581.0,31.0,2.0,4768.0,...,"[26000000, 26000026, 26000030, 26000041, 27000...",104,4,1,3,4,1,1,2,3.125
1,1,2020-12-07 07:00:00+00:00,54000049.0,72000201.0,5582.5,#YV9VQUVP,5592.0,28.0,3.0,2014.0,...,"[26000000, 26000003, 26000007, 26000011, 26000...",104,6,0,2,2,3,3,0,4.125
2,2,2020-12-07 07:00:02+00:00,54000049.0,72000201.0,5684.0,#LPR2G0Q9L,5678.0,31.0,3.0,5304.0,...,"[26000011, 26000026, 26000030, 26000041, 27000...",103,4,1,3,3,2,2,1,2.875
3,3,2020-12-07 07:00:03+00:00,54000049.0,72000201.0,6031.0,#2GL899VCJ,6035.0,29.0,2.0,3368.0,...,"[26000032, 26000040, 26000041, 26000049, 26000...",104,6,1,1,3,2,1,2,3.375
4,4,2020-12-07 07:00:06+00:00,54000049.0,72000201.0,5140.0,#9Y2YJPGG2,5140.0,30.0,3.0,1507.0,...,"[26000012, 26000024, 26000045, 26000056, 26000...",93,5,1,2,3,1,4,0,3.875

In [5]:
gdf.tail()

,Unnamed: 0,battleTime,arena.id,gameMode.id,average.startingTrophies,winner.tag,winner.startingTrophies,winner.trophyChange,winner.crowns,winner.kingTowerHitPoints,...,loser.cards.list,loser.totalcard.level,loser.troop.count,loser.structure.count,loser.spell.count,loser.common.count,loser.rare.count,loser.epic.count,loser.legendary.count,loser.elixir.average
16795954,16795954,2020-12-27 00:02:00+00:00,54000050.0,72000044.0,5191.5,#2QCQL0VLV,5192.0,29.0,2.0,5832.0,...,"[26000006, 26000011, 26000015, 26000025, 26000...",104,6,0,2,1,1,4,2,4.500
16795955,16795955,2020-12-27 00:02:22+00:00,54000050.0,72000044.0,5336.5,#20P229QVG,5333.0,30.0,3.0,5832.0,...,"[26000009, 26000015, 26000025, 26000039, 26000...",104,5,0,3,1,1,5,1,4.000
16795956,16795956,2020-12-27 00:02:58+00:00,54000050.0,72000044.0,4945.5,#29RYVPPYG,4942.0,30.0,2.0,2967.0,...,"[26000003, 26000007, 26000011, 26000035, 26000...",103,5,0,3,2,2,3,1,3.625
16795957,16795957,2020-12-27 00:03:32+00:00,54000050.0,72000044.0,4211.0,#YUYLJUPYL,4214.0,29.0,3.0,3476.0,...,"[26000022, 26000033, 26000047, 26000051, 26000...",80,5,0,3,2,1,2,3,5.750
16795958,16795958,2020-12-27 00:03:37+00:00,54000050.0,72000044.0,4906.0,#PCG98LUPV,4892.0,32.0,1.0,5304.0,...,"[26000004, 26000011, 26000018, 26000039, 26000...",104,6,1,1,2,4,2,0,4.125

In [6]:
gdf = gdf.drop(columns=['Unnamed: 0', 'battleTime', 'gameMode.id',
                 'winner.clan.tag', 'winner.clan.badgeId',
                 'loser.clan.tag', 'loser.clan.badgeId', 'tournamentTag'])

In [7]:
gdf.info()

<class 'cudf.core.dataframe.DataFrame'>
RangeIndex: 16795959 entries, 0 to 16795958
Data columns (total 66 columns):
 #   Column                          Dtype
---  ------                          -----
 0   arena.id                        float64
 1   average.startingTrophies        float64
 2   winner.tag                      object
 3   winner.startingTrophies         float64
 4   winner.trophyChange             float64
 5   winner.crowns                   float64
 6   winner.kingTowerHitPoints       float64
 7   winner.princessTowersHitPoints  object
 8   loser.tag                       object
 9   loser.startingTrophies          float64
 10  loser.trophyChange              float64
 11  loser.crowns                    float64
 12  loser.kingTowerHitPoints        float64
 13  loser.princessTowersHitPoints   object
 14  winner.card1.id                 int64
 15  winner.card1.level              int64
 16  winner.card2.id                 int64
 17  winner.card2.level              int64
 18  winner.card3.id                 int64
 19  winner.card3.level              int64
 20  winner.card4.id                 int64
 21  winner.card4.level              int64
 22  winner.card5.id                 int64
 23  winner.card5.level              int64
 24  winner.card6.id                 int64
 25  winner.card6.level              int64
 26  winner.card7.id                 int64
 27  winner.card7.level              int64
 28  winner.card8.id                 int64
 29  winner.card8.level              int64
 30  winner.cards.list               object
 31  winner.totalcard.level          int64
 32  winner.troop.count              int64
 33  winner.structure.count          int64
 34  winner.spell.count              int64
 35  winner.common.count             int64
 36  winner.rare.count               int64
 37  winner.epic.count               int64
 38  winner.legendary.count          int64
 39  winner.elixir.average           float64
 40  loser.card1.id                  int64
 41  loser.card1.level               int64
 42  loser.card2.id                  int64
 43  loser.card2.level               int64
 44  loser.card3.id                  int64
 45  loser.card3.level               int64
 46  loser.card4.id                  int64
 47  loser.card4.level               int64
 48  loser.card5.id                  int64
 49  loser.card5.level               int64
 50  loser.card6.id                  int64
 51  loser.card6.level               int64
 52  loser.card7.id                  int64
 53  loser.card7.level               int64
 54  loser.card8.id                  int64
 55  loser.card8.level               int64
 56  loser.cards.list                object
 57  loser.totalcard.level           int64
 58  loser.troop.count               int64
 59  loser.structure.count           int64
 60  loser.spell.count               int64
 61  loser.common.count              int64
 62  loser.rare.count                int64
 63  loser.epic.count                int64
 64  loser.legendary.count           int64
 65  loser.elixir.average            float64
dtypes: float64(12), int64(48), object(6)
memory usage: 10.9+ GB

In [8]:
null_summary = gdf.isnull().sum().to_pandas()  # move small result to CPU for display
null_summary = null_summary[null_summary > 0]
print(null_summary)

winner.princessTowersHitPoints     358362
loser.kingTowerHitPoints          5034320
loser.princessTowersHitPoints     9164173
dtype: int64

In [9]:
# How many wins where loser.kingTowerHitPoints is null
gdf[gdf['loser.kingTowerHitPoints'].isna()]['winner.crowns'].value_counts()
#null means tower destroyed

winner.crowns
3.0    5034320
Name: count, dtype: int64

In [10]:
# Check winner's princess towers
gdf[gdf['winner.princessTowersHitPoints'].isna()]['winner.crowns'].value_counts()

# Check loser's princess towers
gdf[gdf['loser.princessTowersHitPoints'].isna()]['winner.crowns'].value_counts()

#winner.princessTowersHitPoints     19640
#loser.kingTowerHitPoints          274647
#loser.princessTowersHitPoints     510829

winner.crowns
3.0    5034320
2.0    4129853
Name: count, dtype: int64

In [11]:
gdf['winner.princessTowersHitPoints'] = gdf['winner.princessTowersHitPoints'].fillna(0)
gdf['loser.kingTowerHitPoints'] = gdf['loser.kingTowerHitPoints'].fillna(0)
gdf['loser.princessTowersHitPoints'] = gdf['loser.princessTowersHitPoints'].fillna(0)

In [12]:
gdf.duplicated().sum()

np.int64(36348)

In [13]:
gdf = gdf.drop_duplicates()

In [14]:
gdf['loser.cards.list']

0           [26000000, 26000026, 26000030, 26000041, 27000...
1           [26000000, 26000003, 26000007, 26000011, 26000...
2           [26000011, 26000026, 26000030, 26000041, 27000...
3           [26000032, 26000040, 26000041, 26000049, 26000...
4           [26000012, 26000024, 26000045, 26000056, 26000...
                                  ...
16795954    [26000006, 26000011, 26000015, 26000025, 26000...
16795955    [26000009, 26000015, 26000025, 26000039, 26000...
16795956    [26000003, 26000007, 26000011, 26000035, 26000...
16795957    [26000022, 26000033, 26000047, 26000051, 26000...
16795958    [26000004, 26000011, 26000018, 26000039, 26000...
Name: loser.cards.list, Length: 16759611, dtype: object

In [16]:
import cudf
from cudf.core.dtypes import ListDtype

WIN_COL = "winner.cards.list"
LOS_COL = "loser.cards.list"

def ensure_listcol(s: cudf.Series) -> cudf.Series:
    """
    Convert string-encoded lists like "[26000000, 26000001, ...]" to a cuDF ListColumn.
    Assumes items are numeric IDs (no commas inside a single id).
    """
    if isinstance(s.dtype, ListDtype):
        return s
    s = s.astype("string").fillna("")
    s = (
        s.str.strip()
         .str.strip("[]")
         .str.replace('"', "", regex=False)
         .str.replace("'", "", regex=False)
    )
    s = s.replace("", None)
    return s.str.split(",")

# 1) Build list columns on GPU (no CPU round-trip)
w_list = ensure_listcol(gdf[WIN_COL])
l_list = ensure_listcol(gdf[LOS_COL])

# 2) Canonicalize decks by sorting each list ON GPU (same as sorted(lst))
w_sorted = w_list.list.sort_values()
l_sorted = l_list.list.sort_values()

# 3) Extract fixed 8 positions to columns (fast numeric groupby)
def to_deck_matrix(lst: cudf.Series) -> cudf.DataFrame:
    out = cudf.DataFrame({f"c{i}": lst.list.get(i) for i in range(8)})
    # Cast to int if possible
    for c in out.columns:
        out[c] = out[c].astype("int64", errors="ignore")
    return out

w_decks = to_deck_matrix(w_sorted)
l_decks = to_deck_matrix(l_sorted)

# Optionally require full 8-card decks
full_w = ~w_decks.isnull().any(axis=1)
full_l = ~l_decks.isnull().any(axis=1)
w_decks = w_decks[full_w]
l_decks = l_decks[full_l]

key_cols = [f"c{i}" for i in range(8)]

# 4) Count wins/losses per canonical deck (GPU groupby on 8 int columns)
wins   = w_decks.groupby(key_cols).size().rename("wins")
losses = l_decks.groupby(key_cols).size().rename("losses")

# 5) Join & compute totals / win_rate (GPU)
deck_stats = wins.to_frame().join(losses.to_frame(), how="outer").fillna(0)
deck_stats["wins"]   = deck_stats["wins"].astype("int64")
deck_stats["losses"] = deck_stats["losses"].astype("int64")
deck_stats["total"]  = deck_stats["wins"] + deck_stats["losses"]
deck_stats["win_rate"] = (deck_stats["wins"] / deck_stats["total"]).fillna(0.0)

# 6) Filter/sort (GPU)
min_games = 20
deck_stats = deck_stats[deck_stats["total"] >= min_games] \
                 .sort_values(["total", "win_rate"], ascending=[False, False])

print(deck_stats.head())

                                                                           wins  \
c0       c1       c2       c3       c4       c5       c6       c7
26000026 26000030 26000041 27000003 28000003 28000004 28000011 26000000  194595
26000014 26000021 26000030 26000038 27000000 28000000 28000011 26000010  160835
26000036 26000042 26000046 26000050 26000062 28000008 28000009 26000004   92061
26000001 26000010 26000030 27000006 27000008 28000000 28000011 26000000   64137
26000010 26000023 27000006 27000008 28000003 28000011 28000012 26000000   41444

                                                                         losses  \
c0       c1       c2       c3       c4       c5       c6       c7
26000026 26000030 26000041 27000003 28000003 28000004 28000011 26000000  183808
26000014 26000021 26000030 26000038 27000000 28000000 28000011 26000010  170643
26000036 26000042 26000046 26000050 26000062 28000008 28000009 26000004   81520
26000001 26000010 26000030 27000006 27000008 28000000 28000011 26000000   61617
26000010 26000023 27000006 27000008 28000003 28000011 28000012 26000000   39552

                                                                          total  \
c0       c1       c2       c3       c4       c5       c6       c7
26000026 26000030 26000041 27000003 28000003 28000004 28000011 26000000  378403
26000014 26000021 26000030 26000038 27000000 28000000 28000011 26000010  331478
26000036 26000042 26000046 26000050 26000062 28000008 28000009 26000004  173581
26000001 26000010 26000030 27000006 27000008 28000000 28000011 26000000  125754
26000010 26000023 27000006 27000008 28000003 28000011 28000012 26000000   80996

                                                                         win_rate
c0       c1       c2       c3       c4       c5       c6       c7
26000026 26000030 26000041 27000003 28000003 28000004 28000011 26000000  0.514253
26000014 26000021 26000030 26000038 27000000 28000000 28000011 26000010  0.485206
26000036 26000042 26000046 26000050 26000062 28000008 28000009 26000004  0.530363
26000001 26000010 26000030 27000006 27000008 28000000 28000011 26000000  0.510020
26000010 26000023 27000006 27000008 28000003 28000011 28000012 26000000  0.511680

In [17]:
#what classifies as a good deck,
top_decks = deck_stats.sort_values('win_rate', ascending=False).head(10)
popular_decks = deck_stats.sort_values('total', ascending=False).head(10)
underperforming = deck_stats[(deck_stats['total'] > 50) & (deck_stats['win_rate'] < 0.45)]
overperforming = deck_stats[(deck_stats['total'] > 50) & (deck_stats['win_rate'] > 0.6)]

In [18]:
overperforming

                                                                         wins  \
c0       c1       c2       c3       c4       c5       c6       c7
26000027 26000033 26000039 26000042 26000060 28000002 28000008 26000018   776
26000011 26000014 26000017 26000054 26000056 27000001 28000002 26000000   288
26000001 26000002 26000030 27000002 28000001 28000003 28000011 26000000   279
26000011 26000014 26000021 27000003 28000000 28000001 28000008 26000002   386
26000005 26000014 26000027 26000036 26000046 28000008 28000009 26000004   268
...                                                                       ...
26000044 26000046 26000050 26000054 26000062 28000015 28000017 26000036    31
26000006 26000011 26000017 26000018 27000006 28000001 28000002 26000004    31
         26000012 26000017 26000018 26000035 26000083 28000001 26000004    31
26000008 26000010 26000018 26000019 26000064 28000000 28000017 26000000    31
26000017 26000018 26000035 26000046 27000003 28000001 28000007 26000011    31

                                                                         losses  \
c0       c1       c2       c3       c4       c5       c6       c7
26000027 26000033 26000039 26000042 26000060 28000002 28000008 26000018     514
26000011 26000014 26000017 26000054 26000056 27000001 28000002 26000000     189
26000001 26000002 26000030 27000002 28000001 28000003 28000011 26000000     185
26000011 26000014 26000021 27000003 28000000 28000001 28000008 26000002      44
26000005 26000014 26000027 26000036 26000046 28000008 28000009 26000004     149
...                                                                         ...
26000044 26000046 26000050 26000054 26000062 28000015 28000017 26000036      20
26000006 26000011 26000017 26000018 27000006 28000001 28000002 26000004      20
         26000012 26000017 26000018 26000035 26000083 28000001 26000004      20
26000008 26000010 26000018 26000019 26000064 28000000 28000017 26000000      20
26000017 26000018 26000035 26000046 27000003 28000001 28000007 26000011      20

                                                                         total  \
c0       c1       c2       c3       c4       c5       c6       c7
26000027 26000033 26000039 26000042 26000060 28000002 28000008 26000018   1290
26000011 26000014 26000017 26000054 26000056 27000001 28000002 26000000    477
26000001 26000002 26000030 27000002 28000001 28000003 28000011 26000000    464
26000011 26000014 26000021 27000003 28000000 28000001 28000008 26000002    430
26000005 26000014 26000027 26000036 26000046 28000008 28000009 26000004    417
...                                                                        ...
26000044 26000046 26000050 26000054 26000062 28000015 28000017 26000036     51
26000006 26000011 26000017 26000018 27000006 28000001 28000002 26000004     51
         26000012 26000017 26000018 26000035 26000083 28000001 26000004     51
26000008 26000010 26000018 26000019 26000064 28000000 28000017 26000000     51
26000017 26000018 26000035 26000046 27000003 28000001 28000007 26000011     51

                                                                         win_rate
c0       c1       c2       c3       c4       c5       c6       c7
26000027 26000033 26000039 26000042 26000060 28000002 28000008 26000018  0.601550
26000011 26000014 26000017 26000054 26000056 27000001 28000002 26000000  0.603774
26000001 26000002 26000030 27000002 28000001 28000003 28000011 26000000  0.601293
26000011 26000014 26000021 27000003 28000000 28000001 28000008 26000002  0.897674
26000005 26000014 26000027 26000036 26000046 28000008 28000009 26000004  0.642686
...                                                                           ...
26000044 26000046 26000050 26000054 26000062 28000015 28000017 26000036  0.607843
26000006 26000011 26000017 26000018 27000006 28000001 28000002 26000004  0.607843
         26000012 26000017 26000018 26000035 26000083 28000001 26000004  0.607843
26000008 26000010 26000018 26000019 26000064 28000000 28000017 26000000  0.607843
26000017 26000018 26000035 26000046 27000003 28000001 28000007 26000011  0.607843

[1287 rows x 4 columns]

In [19]:
from cudf.core.dtypes import ListDtype

WIN_COL = "winner.cards.list"
LOS_COL = "loser.cards.list"
TOP_K   = 1000  # adjust as desired

def ensure_listcol(s: cudf.Series) -> cudf.Series:
    """Convert string-encoded lists like 'a,b,c' or "['a','b']" to ListColumn."""
    if isinstance(s.dtype, ListDtype):
        return s
    s = s.astype("string").fillna("")
    s = (
        s.str.strip()
         .str.strip("[]")
         .str.replace('"', "", regex=False)
         .str.replace("'", "", regex=False)
    )
    s = s.replace("", None)
    return s.str.split(",")

# 1) Convert to list columns (GPU)
w_list = ensure_listcol(gdf[WIN_COL])
l_list = ensure_listcol(gdf[LOS_COL])

# 2) Explode (older cuDF uses .explode())
w_ex = w_list.explode().astype("string").str.strip()
l_ex = l_list.explode().astype("string").str.strip()

# 3) Drop nulls/empties
w_ex = w_ex.dropna()
l_ex = l_ex.dropna()
w_ex = w_ex[w_ex != ""]
l_ex = l_ex[l_ex != ""]

# 4) Count wins/losses on GPU
wins = w_ex.value_counts(); wins.name = "w"
losses = l_ex.value_counts(); losses.name = "l"

# 5) Join + compute impact (GPU)
all_counts = wins.to_frame().join(losses.to_frame(), how="outer").fillna(0)
den = all_counts["w"] + all_counts["l"]
all_counts["impact"] = all_counts["w"] / den

# 6) Sort/top-K and (optionally) collect to CPU
card_impact_gdf = all_counts[["impact"]].sort_values("impact", ascending=False).head(TOP_K)

In [20]:
card_impact_gdf

            impact
26000039  0.518323
26000036  0.516810
26000029  0.515744
26000048  0.513756
26000009  0.512838
...            ...
26000084  0.461432
26000085  0.460251
27000009  0.451373
26000002  0.438120
27000005  0.437376

[102 rows x 1 columns]

In [21]:
# Combine winner + loser card lists
all_cards = cudf.concat([w_list.explode(), l_list.explode()])

# Drop nulls/empties and clean
all_cards = all_cards.dropna().astype("string").str.strip()
all_cards = all_cards[all_cards != ""]

# Count frequencies on GPU
freq_df = all_cards.value_counts().rename("count").to_frame()

print("Top 10 most used cards:")
print(freq_df.head(10))

Top 10 most used cards:
             count
26000017  10265537
26000011   9953552
28000008   9347215
26000012   9164145
28000011   8825926
28000000   8354122
26000021   7195559
26000055   7080572
28000001   6976146
26000015   6083537

In [22]:
import cudf
from cudf.core.dtypes import ListDtype

WIN_COL = "winner.cards.list"
LOS_COL = "loser.cards.list"

def ensure_listcol(s: cudf.Series) -> cudf.Series:
    """
    Convert string-encoded lists like "[26000000, 26000001, ...]" to a cuDF ListColumn.
    Assumes items are numeric IDs (no internal commas within an item).
    """
    if isinstance(s.dtype, ListDtype):
        return s
    s = s.astype("string").fillna("")
    s = (
        s.str.strip()
         .str.strip("[]")
         .str.replace('"', "", regex=False)
         .str.replace("'", "", regex=False)
    )
    s = s.replace("", None)
    return s.str.split(",")

# 1) Build list columns on GPU
w_list = ensure_listcol(gdf[WIN_COL])
l_list = ensure_listcol(gdf[LOS_COL])

# 2) Canonicalize: sort each deck list on GPU
w_sorted = w_list.list.sort_values()
l_sorted = l_list.list.sort_values()

# 3) Extract the 8 cards into fixed columns (Clash decks are size 8)
#    If some rows don’t have 8, missing positions will be null (handled below).
def to_deck_matrix(lst: cudf.Series) -> cudf.DataFrame:
    out = cudf.DataFrame({f"c{i}": lst.list.get(i) for i in range(8)})
    # cast to int if possible
    for c in out.columns:
        out[c] = out[c].astype("int64", errors="ignore")
    return out

w_decks = to_deck_matrix(w_sorted)
l_decks = to_deck_matrix(l_sorted)

# 4) Drop any rows that don't have a full deck (optional; or keep and they'll group separately)
full_row_mask_w = ~w_decks.isnull().any(axis=1)
full_row_mask_l = ~l_decks.isnull().any(axis=1)
w_decks_full = w_decks[full_row_mask_w]
l_decks_full = l_decks[full_row_mask_l]

key_cols = [f"c{i}" for i in range(8)]

# 5) Count wins/losses per canonical deck (GPU)
wins = w_decks_full.groupby(key_cols).size().rename("wins")
losses = l_decks_full.groupby(key_cols).size().rename("losses")

# 6) Join and compute totals/rates (GPU)
deck_stats = wins.to_frame().join(losses.to_frame(), how="outer").fillna(0)
deck_stats["wins"]   = deck_stats["wins"].astype("int64")
deck_stats["losses"] = deck_stats["losses"].astype("int64")
deck_stats["total"]  = deck_stats["wins"] + deck_stats["losses"]
deck_stats["win_rate"] = (deck_stats["wins"] / deck_stats["total"]).fillna(0.0)

# 7) Filter/sort as before (GPU)
min_games = 20
deck_stats = deck_stats[deck_stats["total"] >= min_games] \
                 .sort_values(["total", "win_rate"], ascending=[False, False])

print(deck_stats.head())

                                                                           wins  \
c0       c1       c2       c3       c4       c5       c6       c7
26000026 26000030 26000041 27000003 28000003 28000004 28000011 26000000  194595
26000014 26000021 26000030 26000038 27000000 28000000 28000011 26000010  160835
26000036 26000042 26000046 26000050 26000062 28000008 28000009 26000004   92061
26000001 26000010 26000030 27000006 27000008 28000000 28000011 26000000   64137
26000010 26000023 27000006 27000008 28000003 28000011 28000012 26000000   41444

                                                                         losses  \
c0       c1       c2       c3       c4       c5       c6       c7
26000026 26000030 26000041 27000003 28000003 28000004 28000011 26000000  183808
26000014 26000021 26000030 26000038 27000000 28000000 28000011 26000010  170643
26000036 26000042 26000046 26000050 26000062 28000008 28000009 26000004   81520
26000001 26000010 26000030 27000006 27000008 28000000 28000011 26000000   61617
26000010 26000023 27000006 27000008 28000003 28000011 28000012 26000000   39552

                                                                          total  \
c0       c1       c2       c3       c4       c5       c6       c7
26000026 26000030 26000041 27000003 28000003 28000004 28000011 26000000  378403
26000014 26000021 26000030 26000038 27000000 28000000 28000011 26000010  331478
26000036 26000042 26000046 26000050 26000062 28000008 28000009 26000004  173581
26000001 26000010 26000030 27000006 27000008 28000000 28000011 26000000  125754
26000010 26000023 27000006 27000008 28000003 28000011 28000012 26000000   80996

                                                                         win_rate
c0       c1       c2       c3       c4       c5       c6       c7
26000026 26000030 26000041 27000003 28000003 28000004 28000011 26000000  0.514253
26000014 26000021 26000030 26000038 27000000 28000000 28000011 26000010  0.485206
26000036 26000042 26000046 26000050 26000062 28000008 28000009 26000004  0.530363
26000001 26000010 26000030 27000006 27000008 28000000 28000011 26000000  0.510020
26000010 26000023 27000006 27000008 28000003 28000011 28000012 26000000  0.511680